[Unit]
Description=Four In A Row Task Executor
After=network.target

[Service]
User=four_in_a_row
Group=four_in_a_row
Type=simple
WorkingDirectory=/opt/four_in_a_row
ExecStart=/opt/four_in_a_row/venv/bin/four_in_a_row run-task-executor
Restart=always

[Install]
WantedBy=multi-user.target
